<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xaqianbai.QBHotelSecurutyGovernor">
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

        <!-- <group gid="sdcard_rw" /> -->
        <!-- <group gid="media_rw" /> -->
    </uses-permission>
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.xaqianbai.QBHotelSecurutyGovernor.Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/per"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.tencent.rdm.uuid"
            android:value="61404c12-fbc7-4e82-999d-7a08c6651b98" />



        <!-- 配置友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58d9c9dc4544cb47d6002491" />
        <!-- 配置bugly -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="590ecfed9d" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <!-- &lt;!&ndash; 配置APP渠道号 &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BUGLY_APP_CHANNEL" -->
        <!-- android:value="" /> -->
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <activity
            android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.BackPswActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.ModifyPswActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xaqianbai.QBHotelSecurutyGovernor.CameraTool.CertCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xaqianbai.QBHotelSecurutyGovernor.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d527989c59a1fee043cce36a43f687b0" />



        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.StaffActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.HotelActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.OrgActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.UpdateActivityNew" />

        <!-- 7.0y以上安装apk崩溃问题解决代码 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xaqianbai.QBHotelSecurutyGovernor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.PassengerActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.StaffListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.StaffDetailActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.SearchOrgActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.PassengerListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.PassengerDetActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.HotelListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.HotelDetilActivity"/>
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.OrgDetileActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.ClueListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.ClueDelActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.LogListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.LogDetActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.SearchAreaActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.OrderActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.OrderListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.QueryOrcActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.UserPicActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.UserNickNameActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.ShowBigPicActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.AboutActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.CrimeListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.CrimeAddActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.PunishmentListActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.PunishmentAddActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.CrimeDelActivity" />
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.PunishmentDelActivity"></activity>
        <activity android:name="com.xaqianbai.QBHotelSecurutyGovernor.Activity.SearchHotelActivity"></activity>
    </application>

</manifest>