<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xaqb.unlock">

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 网络库使用，当网络操作时需要确保事务完成不被杀掉 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许对sd卡进行读写操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

        <!-- <group gid="sdcard_rw" /> -->
        <!-- <group gid="media_rw" /> -->
    </uses-permission>
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lock_open"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 配置阿里云 -->
        <meta-data android:name="com.alibaba.app.appkey" android:value="23727669"/> <!-- 请填写你自己的- appKey -->
        <meta-data android:name="com.alibaba.app.appsecret" android:value="f004995197fdd1d78900968960859370"/> <!-- 请填写你自己的appSecret -->
        <receiver
            android:name=".Receiver.MyMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 配置友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58d9c9dc4544cb47d6002491" />
        <!-- 配置bugly -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="590ecfed9d" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <!-- &lt;!&ndash; 配置APP渠道号 &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="BUGLY_APP_CHANNEL" -->
        <!-- android:value="" /> -->
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SendDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WillSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NearbyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RealNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.OrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.BackPswActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ResetNickNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ResetPswActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.AdviseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CameraTool.CertCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RealNameInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.IncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AboutActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d527989c59a1fee043cce36a43f687b0" />

        <service android:name="com.amap.api.location.APSService" />
        <!--<service-->
            <!--android:name=".Service.UploadService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" />-->
        <service
            android:name=".Service.FileService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>